@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-100 rounded-full;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-400 rounded-full
}

.modal {
  height: 100vh;
  padding-inline: 10px;
  background: rgba(0, 0, 0, 0.8);
  overflow: auto;
  scrollbar-width: none;
  bottom: 0px;
  left: 0px;
  z-index: 20;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  color: rgba(15, 23, 42, 0.8);
}

.deleteButton {
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 5px;
  background-color: white;
  border-radius: 100%;
  border-style: solid;
  border-color: rgb(100 116 139);
  color: red;
}

.textResponsive {
  @apply sr-only md:not-sr-only;
}

.cardForm {
  @apply transition-all duration-300;
  width: 600px;
  padding: 15px;
}

@media only screen and (max-width: 600px) {
  .cardForm {
    width: 500px;
  }
}

@media only screen and (max-width: 500px) {
  .cardForm {
    width: auto;
    max-width: 420px;
  }
}